FRITZ_IP=192.168.178.1
FRITZ_USER=collectd
FRITZ_PASSWORD=mypassword
EP_HOST=127.0.0.1 // The IP running your InfluxDB Database - If its the same, do not use localhost, but the (static) IP (e.g. 192.168.178.34)
EP_PORT=25826
